@font-face {
        font-family: Avenir;
        font-style: normal;
        font-weight: 400;
        src: url('static/eot/AmsterdamSans-Regular.eot') format("eot"), url('static/woff/AmsterdamSans-Regular.woff') format("woff"), url('static/woff2/AmsterdamSans-Regular.woff2') format("woff2")
    }

    @font-face {
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        src: url('static/eot/AmsterdamSans-Bold.eot') format("eot"), url('static/woff/AmsterdamSans-Bold.woff') format("woff"), url('static/woff2/AmsterdamSans-Bold.woff2') format("woff2")
    }

    html,
    body {
        background-color: #ffffff;
        font-family: avenir;
        margin: 0;
        padding: 0;
    }

    .label {
        width: 200px;
        height: auto;
        margin-left: 30px;
    }

    .wrap, .wrap2 {
        float:  none;
        margin: 100px auto;
        text-align: center;
    }

    .wrap2 {
        float:  right;
    }

    #progress-circle, #progress-circle2 {
        background: radial-gradient(white 66%, transparent 51%),
            conic-gradient(transparent 0deg 320deg, #f7f7f7 320deg 360deg),
            conic-gradient(rgb(24, 175, 117,0.3) 0deg, #18af75);
        border-radius: 50%;
        width: 600px;
        height: 600px;
        transition: all 500ms ease-in;
        will-change: transform;
    }

    .content {
        padding: 215px 0;
    }

    .content>div {
        padding: 2px 0;
    }

    #counter, #counter2 {
        font-size: 100px;
        color: #fd000d;
    }

    #counter2 {
        color: #007bff;
    }

    #targetPercentage,
    #target,
    #targetMonth,
    #targetPercentage2,
    #target2,
    #targetMonth2 {
        font-weight: 400;
    }